.banner-covar{
    padding:8rem;
    text-align: center;
    background-color:rgb(44, 44, 44);
    background-blend-mode: soft-light;
    color:white;
    margin-bottom: 3rem;
    background-repeat: no-repeat;
    background-size:cover;
    backdrop-filter: blur(5px);
    background-position: center center;

    &>img{
        width:120px;
    }

}
